.projects{
    position:relative;
}

.projects-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(340px,1fr));

    gap:35px;

    margin-top:60px;

}

@media(max-width:768px){

.projects-grid{

grid-template-columns:1fr;

gap:25px;

}

}