.loader{
    position:fixed;
    inset:0;
    background:#060816;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    z-index:99999;
}

.loader-orb{
    width:100px;
    height:100px;
    border-radius:50%;
    background:linear-gradient(135deg,#00d4ff,#7b61ff,#ff4fd8);
    animation:pulse 1.5s infinite;
    margin-bottom:30px;
}

.loader-text{
    color:white;
    font-size:30px;
    font-weight:700;
    letter-spacing:2px;
    margin-bottom:30px;
}

.loader-name{
    color:#00d4ff;
}

.loader-bar{
    width:300px;
    height:6px;
    background:#222;
    border-radius:20px;
    overflow:hidden;
}

.loader-bar-fill{
    width:0%;
    height:100%;
    background:linear-gradient(90deg,#00d4ff,#7b61ff,#ff4fd8);
    animation:loading 2.5s linear forwards;
}

@keyframes loading{

0%{
width:0%;
}

100%{
width:100%;
}

}

@keyframes pulse{

0%{
transform:scale(.8);
opacity:.5;
}

50%{
transform:scale(1);
opacity:1;
}

100%{
transform:scale(.8);
opacity:.5;
}

}