.education-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));

    gap:30px;

    margin-top:60px;

}

.education-card{

    background:rgba(255,255,255,.05);

    border:1px solid rgba(255,255,255,.08);

    border-radius:20px;

    padding:30px;

    transition:.4s;

    backdrop-filter:blur(20px);

}

.education-card:hover{

    transform:translateY(-10px);

    border-color:#00d4ff;

}

.edu-year{

    display:inline-block;

    background:#00d4ff;

    color:#111;

    padding:8px 18px;

    border-radius:30px;

    font-weight:600;

    margin-bottom:20px;

}

.education-card h3{

    color:white;

    margin-bottom:12px;

}

.education-card h4{

    color:#00d4ff;

    margin-bottom:12px;

}

.education-card p{

    color:#d3d3d3;

    line-height:1.7;

}