.skills{
    position:relative;
}

.skills-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));

    gap:30px;

    margin-top:60px;

}

.skill-card{

    background:rgba(255,255,255,.05);

    border:1px solid rgba(255,255,255,.08);

    backdrop-filter:blur(20px);

    border-radius:20px;

    padding:30px;

    transition:.4s;

}

.skill-card:hover{

    transform:translateY(-10px);

    border-color:#00d4ff;

}

.skill-card h3{

    color:#00d4ff;

    margin-bottom:20px;

}

.skill-items{

    display:flex;

    flex-wrap:wrap;

    gap:12px;

}

.skill-items span{

    padding:10px 18px;

    border-radius:30px;

    background:rgba(255,255,255,.08);

    color:white;

    transition:.3s;

}

.skill-items span:hover{

    background:#00d4ff;

    color:#111;

}