.contact {

    background: var(--bg-secondary);

}



.contact-wrapper {

    margin-top:50px;

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:40px;

}



/* Contact Info */

.contact-info {

    background:#111827;

    padding:35px;

    border-radius:20px;

    border:1px solid rgba(255,255,255,0.1);

}



.contact-item {

    display:flex;

    align-items:center;

    gap:20px;

    margin-bottom:25px;

}



.contact-item svg {

    font-size:25px;

    color:#38bdf8;

}



.contact-item h4 {

    color:white;

    margin-bottom:5px;

}



.contact-item p {

    color:#cbd5e1;

}





/* Social */

.social-links {

    display:flex;

    gap:20px;

    margin-top:30px;

}



.social-links a {

    width:45px;

    height:45px;

    display:flex;

    justify-content:center;

    align-items:center;

    border-radius:50%;

    background:#1e293b;

    color:white;

    font-size:22px;

    transition:.3s;

}



.social-links a:hover {

    transform:translateY(-5px);

    color:#38bdf8;

}





/* Form */

.contact-form {

    background:#111827;

    padding:35px;

    border-radius:20px;

    border:1px solid rgba(255,255,255,0.1);

}



.contact-form input,
.contact-form textarea {

    width:100%;

    padding:15px;

    margin-bottom:20px;

    border-radius:10px;

    border:none;

    outline:none;

    background:#1e293b;

    color:white;

    font-size:15px;

}



.contact-form input::placeholder,
.contact-form textarea::placeholder {

    color:#94a3b8;

}



.contact-form button {

    width:100%;

    padding:15px;

    border:none;

    border-radius:10px;

    background:#38bdf8;

    color:#020617;

    font-weight:700;

    cursor:pointer;

    transition:.3s;

}



.contact-form button:hover {

    transform:translateY(-3px);

}





@media(max-width:768px){

    .contact-wrapper{

        grid-template-columns:1fr;

    }

}