.scroll-progress{

    position:fixed;

    top:0;

    left:0;

    height:4px;

    background:linear-gradient(
        90deg,
        #00d4ff,
        #7b61ff,
        #ff4fd8
    );

    z-index:9999;

    transition:width .15s linear;

    border-radius:0 5px 5px 0;


}