.blog{
    background:var(--bg-primary);
}

.blog-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));

    gap:30px;

    margin-top:60px;

}

.blog-card{

    background:#111827;

    border:1px solid rgba(255,255,255,.08);

    border-radius:20px;

    padding:30px;

    transition:.35s;

}

.blog-card:hover{

    transform:translateY(-10px);

    border-color:#38bdf8;

}

.blog-category{

    display:inline-block;

    background:#38bdf8;

    color:#fff;

    padding:6px 15px;

    border-radius:30px;

    font-size:.85rem;

    margin-bottom:20px;

}

.blog-card h3{

    color:#fff;

    margin-bottom:15px;

}

.blog-card p{

    color:#cbd5e1;

    line-height:1.8;

    margin-bottom:20px;

}

.blog-card small{

    display:block;

    color:#94a3b8;

    margin-bottom:20px;

}

.blog-card a{

    color:#38bdf8;

    text-decoration:none;

    font-weight:600;

}