*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  overflow-x:hidden;
  font-family:"Inter",sans-serif;
  background:#060816;
  color:#fff;
}

a{
  text-decoration:none;
  color:inherit;
}

ul{
  list-style:none;
}

button{
  font-family:inherit;
  cursor:pointer;
}

img{
  max-width:100%;
  display:block;
}

.container{
  width:90%;
  max-width:1300px;
  margin:0 auto;
}

.section{
  padding:100px 0;
}